*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.area {
    width: 230px;
    display: flex;
    margin: 100px auto;
}

.area__search {
    width: 200px;
    padding: 10px 15px;
    outline: none;
    border: 2px solid #87c6f9;
    border-right: 0;
    color: #87c6f9;
}

.area__btn {
    cursor: pointer;
    background: #87c6f9;
    border: 0;
    outline: 0;
    padding: 5px;
    color: #fff;
}

.hr {
    width: 800px;
    margin: 0 auto;
    border: 1px solid #87c6f9;
}

.container-list {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.container-list_indent {
    margin: 50px auto;
}

.container-item {
    width: 100%;
    display: flex;
    border: 1.5px solid #87c6f9;
    margin-bottom: 30px;
    position: relative;
}

.container-item__img {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-item__point {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    background: #87c6f9;
}

.container-item__info {
    width: 80%;
    height: 100%;
    display: flex;
    padding: 20px 50px;
    flex-direction: column;
    background: url('https://lh4.googleusercontent.com/ht6Onvq8gaaw29K3XqE57k2t8Xs5xQWR8XtqyKp0hgbLHv4RZ45zt41c_CYfyTcaIGL_Ls6hG3R_5ti4PLI3OclqxI8KRDXDS7utrzZP5oKgYajIhh-S=w1280') repeat;
}

.location {
    font-weight: bold;
    color: #fff;
}

.temperature, 
.coords {
    color: #fff;
}

.close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 10px;
    background: url('https://lh3.googleusercontent.com/tIFXdz0i8kHFujp9UG5eHLgvO6ziu9MB5znjTtFKMIAsnf-Isb5aY3tl4AWHL7-blxg84HTd=w1280') no-repeat;
    background-size: contain;
    cursor: pointer;
}